
p, h1, h2, h3 {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
}

body {
	margin: 0;

	background-color: aquamarine;
	/* background-color: black; */

	 width: 100vw;
	height: 100vh;

	overflow: hidden;
}


div#container {

	width:  100%;
	height: 100%;

	resize: both;
 	overflow: auto;
 	/* border: 10px dashed #aaa; */

	overflow-y: hidden;
}


/* parent css of the whole map */
svg:has(#svg1) {
	width: 100%;
	height: 100%;

	display: block;
}

div#fixbot {
	position: fixed;

	bottom: 0;
  left: 50%;
  width: 50vw;
	height: 15vh;

	transform: translate(-50%, 0px);

  border: 3px solid black;

	/* background-color: beige; */
	background-color: rgba(245, 245, 220, 0.7);
	/* opacity: 70%; */

	margin-bottom: 1vh;


	min-height: 100px;
	/* opacity: 20%; */

	pointer-events: none;
}

div#fixbot {
	text-align: center;
}

div#fixbot h2 {
	/* font-size: 1rem; */
}

#gm {
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000; /* Terminate with a semi-colon */
}

.inline {
	display: inline;
}


#gmt-hour, #gmt {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#gmt-hour {
	font-size: 250%;
}


svg.inline-svg {
	margin: 0 auto;
}

/* <text> inside svg */
#gmt {
	height: 100px
	/* margin: 0 auto; */
}





.hide { display: none; }
.show { display: block; }




.no-svg-events {
	pointer-events: none;
}


.temp {
	position: fixed;
	padding-top: 10px;
	padding: 10px 10px 10px 10px;
	background-color: aquamarine;
}
