
body {
	margin: 0;

	background-color: aquamarine;
	/* background-color: black; */

	 width: 100vw;
	height: 100vh;

	overflow: hidden;
}

canvas#canvao {
	background-color: beige;
	/* width: 100%; */
	/* height: 100%; */
}

#container {

	width:  100%;
	height: 100%;

	resize: both;
 	overflow: auto;
 	/* border: 10px dashed #aaa; */

	overflow-y: hidden;
}

svg {
	width: 100%;
	height: 100%;

	display: block;
}


/* #path2995:hover {
	fill: #ff0000;
} */


.no-svg-events {
	pointer-events: none;
}